<!-- HEADER
    ================================================== -->
    <section class="section section_header" data-parallax="scroll" data-image-src="assets/img/32.jpg">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h1 class="section__heading section_header__heading text-center">
                        New Restaurant
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- RESERVATION
        ================================================== -->
        <section class="section section_reservation">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Heading -->
                        <h2 class="section__heading text-center">
                            Add your new restaurant here !
                        </h2>

                        <!-- Subheading -->
                        

                    </div>
                </div> <!-- / .row -->
                <div class="row justify-content-lg-center  section_reservation__row">
                    <div class="col-lg-8">

                        <!-- Form -->
                        <form class="section_reservation__form" id="reservation__form">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__name">Restaurant name</label>
                                        <input type="text" class="form-control" id="reservation__form__name" name="reservation__form__name" placeholder="Restaurant name" ng-model="$ctrl.name" required>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__owner">Owner id</label>
                                        <input type="number" class="form-control" id="reservation__form__owner" name="reservation__form__owner" placeholder="Owner id" ng-model="$ctrl.ownerId" required>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__phone">Phone number</label>
                                        <input type="tel" class="form-control" id="reservation__form__phone" name="reservation__form__phone" placeholder="Phone number" ng-model="$ctrl.phone">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__address">Address</label>
                                        <input type="text" class="form-control" id="reservation__form__address" name="reservation__form__address" placeholder="Address" ng-model="$ctrl.address">
                                        <div class="invalid-feedback"></div>
                                    </div>

                                </div>
                                <!--
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__people">People</label>
                                        <select class="form-control" id="reservation__form__people" name="reservation__form__people">
                                            <option value="1">1 person</option>
                                            <option value="2" selected="">2 persons</option>
                                            <option value="3">3 persons</option>
                                            <option value="4">4 persons</option>
                                            <option value="5">5 persons</option>
                                        </select>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__date">Date</label>
                                        <input type="date" class="form-control" id="reservation__form__date" name="reservation__form__date" value="2016-12-31">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="reservation__form__time">Time</label>
                                        <input type="time" class="form-control" id="reservation__form__time" name="reservation__form__time" value="18:00">
                                        <div class="invalid-feedback"></div>
                                    </div>

                                </div>
                                -->
                                <div class="col">

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.doRequest()">
                                            Save
                                        </button>
                                    </div>

                                </div>
                            </div> <!-- / .row -->
                        </form>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </section>
